h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    font: inherit;
}
// remove bullets
ul, ol, li {
    list-style: none;
}
// invert padding
* {
    box-sizing: border-box;
}
//removes space after images
img {
    vertical-align: top;
}
body {
    background-color: white;
}